@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

.img{
    height: 90px;
    margin-left: 20px;
    background-color: white;
}

a{
    text-decoration: none;
    padding: 6px;
    color: #fff;
    font-size: 15px;    
    font-weight: lighter;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

nav{
     
    position: sticky;
    top: 0px;
    background-color: rgb(0,100,69);
    z-index: 5;
    transition: 0.3s;
    display: flex;
    align-items: center;
    
    
    }

    body{
        background-color: rgb(0,70,48);
        
    }


    .banner-card img{
    width: 800px;
    height: auto;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 10px;
    

    }

    h1{
        color: #fff;
        font-family: 'Bebas Neue', sans-serif;    
        font-size: 90px;
        


    }
    h3{
        font-family: 'Barlow', sans-serif;
        color: #fff;
        font-size: 20px;
        margin-top: 20px;
        width: 600px;
        font-weight: normal;
    }

    p{
        color: #fff;
        font-family: 'Bebas Neue', sans-serif;    
        font-size: 30px;

    }

    .banner-text{
    position: absolute;
    top: 25%;
    padding: 20px;
    margin-left:100px ;
    margin-top:20px ;

    }

    .banner-text h4{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    }

    .quiz{
    height: 100vh;
    width: 100%;
    font-size: 40px;
    padding: 100px;
    margin-top: 50px;
    padding-top: 160px;
    color: white;
    font-family: 'Barlow', sans-serif;
  

    }

    .aanmelden{
        background-color: rgb(219,251,74);
        color: rgb(0,70,48);
        padding: 15px;
        border-radius: 7px;
        margin-left: 360px;
    }
    .aanmelden:hover{
        color: rgb(0,70,48);
        transition: 0.3;

    }
    .chatbot{
    height: 100vh;
    width: 100%;
    font-size: 40px;
    padding: 100px;
    margin-top: 50px;
    padding-top: 160px;
    color: white;
    font-family: 'Barlow', sans-serif;

    }

    .talentree{
        height: 100vh;
        width: 100%;
        font-size: 40px;
        padding: 100px;
        margin-top: 50px;
        padding-top: 160px;
        color: white;
        font-family: 'Barlow', sans-serif;
    }

    .opendag{
    height: 100vh;
    width: 100%;
    font-size: 40px;
    padding: 100px;
    margin-top: 50px;
    padding-top: 160px;
    color: white;
    font-family: 'Barlow', sans-serif;

    }

    .contact{
    height: 100vh;
    width: 100%;
    padding-top: 160px;
    font-size: 40px;
    padding: 100px;
    margin-top: 50px;
    color: white;
    font-family: 'Barlow', sans-serif;

    }

    .locaties{
  
    height: 100vh;
    width: 100%;
    font-size: 40px;
    padding: 100px;
    margin-top: 50px;
    padding-top: 160px;
    color: white;
    font-family: 'Barlow', sans-serif;


    }
    
    html{
        scroll-behavior: smooth;
    }

   a:hover{
    color: rgb(219,251,74);
    transition: 0.3;
   }